<div class="row">
  <div class="col-md-10 col-md-offset-1 post">
  <h2> About </h2>
    <p> MockrocketTIL is a clone of the <a href="http://til.hashrocket.com">Hashrocket TIL microblog</a>,
	    and attempts to recreate the functionality of the site.</p>
    <p> The application is fully test-driven and written in Ruby on Rails. </p>
    <p> In addition, you can view a series of blog posts <a href="http://donaldkelsey.com/blog/mockrockettil/">here</a> to see how exactly the application was built out.</p>
    <p> Finally, if you'd like to follow along with the blog posts and build this application yourself, you can <a href="https://www.pivotaltracker.com/n/projects/1461798">view the projects on Pivotal Tracker</a>!</p>
    <h4> Features Include: </h4>
    <ul>
	<li>List of Posts</li>
	<li>Looking at individual posts</li>
	<li>Posts have title, body, author, tag, likes, creation_date, and ability to view raw text</li>
	<li>Next/Previous Post buttons</li>
	<li>Filter posts by tag</li>
	<li>Show posts by given author</li>
	<li>Post searching</li>
	<li>Liking and Unliking Posts through AJAX requests</li>
	<li>Post Index Pagination</li>
	<li>Stats page on popular posts/tags/authors</li>
    </ul>
  </div>
</div>
