<%= render partial: 'page_links', locals: { posts: @posts } if defined? @posts.total_pages %>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <%= new_post_button(current_user, @author_id) %>
  </div>
</div>
<%= render @posts %>

